{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('js') }}

{% endblock %}

{% block title %}Louer Serein
{% endblock %}

{% block body %}
	<div id="root"></div>
{% endblock %}

{% block javascripts %}
	<script>
		{% if app.user %}
const userData = {
email: "{{ app.user.email }}"
};
console.log(userData);

localStorage.setItem('user', JSON.stringify(userData));
{% else %}
localStorage.removeItem('user');{% endif %}
	</script>
	{{ encore_entry_script_tags('js') }}
{% endblock %}
