.div-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    background-color: $color-secondary;
    color: $color-primary;

    @include small-screen {
        height: 100px;
    }
    .logo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 3.5%;
        
    }
    img{
        width: 30%;

        @include small-screen {
            margin-left: 36%;
            height: 35%;
        }
    }

            p{
                color: $color-primary;
                text-align: center;
                font-size: 18px;
                font-weight: 100;
                @include small-screen {
        
                    font-size: 12px;
        
                }
        }
        

    
    .div-title{
        align-self: center;
    
       a.link{
            text-decoration: none;
            color: $color-primary;
        }
    }

}