{% block body %}
	<footer class="div-footer">
		<div class='div-title'>
			<p class="link"><a  href={{ path('app_react') }} classname="link">Politique de confidentialité</p>
		</a>
	</p>
</div>
<div class='logo'>
	 <img src={{ asset('img/clean-house.png') }} alt="logo"/>
	<p>© 2023 Louer Serein All rights reserved</p>
</div>
<div class='div-title'>
	<p class="link"><a href={{ path('app_react') }} class="link">Mentions légales</p>
</a></p></div></footer>{% endblock %}
