.banner-about{
    display: flex;
    width: 90%;
    border-radius: 25px;
    height: 280px;
    margin: auto;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-image: url(../../assets/img/forest.jpg);
}