.btn-chat{
    background-color: $color-secondary;
    color: $color-primary;
    margin-left: 78%;
    margin-top: 1%;
    @include small-screen{
      position: relative;
      bottom: 100%;
      right:50%;

    }

  }
  a.btn-chat{
    text-decoration: none;
    &:hover{
        background-color: $color-quinary;
    }
  }